// Include Foundation.
@import '../vendor/foundation-sites/scss/foundation';
@include foundation-everything(false);

.top-bar {
	ul {
		background-color: transparent;
	}
	.custom-logo-link {
		padding: 0;
		img {
			max-height: 1rem;
			width: auto;
		}
	}
	.is-dropdown-submenu {
		border: 1px solid transparent;
	}
	h1.site-title,
	span.site-title a,
	.menu-text {
		font-size: 1rem;
		margin-bottom: 0;
		margin-top: 0;
		font-weight: normal;
	}
	.menu-text {
		font-size: .75rem;
	}
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button-base;
	@include button-style;
}

#content {
	margin-top: 2rem;
}

table tbody tr:nth-child(even) {
	background-color: rgba(0,0,0,.075);
}

table thead, table tbody, table tfoot {
	border: 1px solid rgba(0,0,0,.75);
}

.tiled-gallery {
	> .gallery-row {
		> .gallery-group {
			float: left;
		}
	}
}
