// Include Foundation.
@import '../vendor/foundation-sites/scss/foundation';
@include foundation-everything(false);

.top-bar {
	margin: auto;
	ul {
		background-color: transparent;
	}
}

#site-main-nav-pills {
	#site-navigation {
		#primary-menu {
			margin: auto;
		}
	}
}

#masthead .branding-text .site-title {
	font-size: 2rem;
	margin-top: .3rem;
	margin-bottom: .3rem;
}

.is-dropdown-submenu {
	border: 1px solid transparent;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button-base;
	@include button-style;
}

#content {
	margin-top: 2rem;
}

table tbody tr:nth-child(even) {
	background-color: rgba(0,0,0,.075);
}

table thead, table tbody, table tfoot {
	border: 1px solid rgba(0,0,0,.75);
}

.tiled-gallery {
	> .gallery-row {
		> .gallery-group {
			float: left;
		}
	}
}
