body.header-left-menu #page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  body.header-left-menu #page #masthead {
    background: #000;
    float: left;
    max-width: 100%;
    width: 20rem; }
