.top-bar {
  margin: auto; }
  .top-bar ul {
    background-color: transparent; }

#masthead .branding-text .site-title {
  font-size: 2rem;
  margin-top: .3rem;
  margin-bottom: .3rem; }

.is-dropdown-submenu {
  border: 1px solid transparent; }
